<h1>Enter the email</h1>
<link rel="stylesheet" href="/css/forgot_password.css">

<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<form action="/ForgotPassword/recover" method="post">
    <label for="email">email</label>
    <input type="email" name="email" placeholder="Email"  required>
    <input type="submit" value="Send link">

   
    <p>link expires in one hour after creation</p>
    
</form>